@use '../abstracts/variables' as v;

.bg-section-shop {
  background-color: v.$light-gray;
}

.container-breadcrumbs {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

.breadcrumbs {
  width: 100%;


  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    color: v.$primary;

    &>p {
      margin: 0;
      color: v.$primary;
    }

    &:hover {
      color: darken(v.$primary, 10%);
      text-decoration: underline;
    }
  }

  &__separator {
    margin: 0 0.7rem;
    color: v.$dark-gray;
    font-weight: 300;
  }

  &__label--active {
    color: v.$text-paragraph;
    font-weight: 400;
  }
}