@use "../abstracts/mixins" as *;

// Base general del botón
.btn {
  @include button-base;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: auto; // default

  // Variantes
  &--white {
    background: #fff;
    color: $title;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .08);

    &:hover {
      background: darken(#fff, 5%);
    }
  }

  &--primary {
    background: $primary;
    color: $title;

    &:hover {
      background: darken($primary, 5%);
    }
  }

  &--primary-full-width {
    background: $primary;
    color: $title;
    width: 100%;

    &:hover {
      background: darken($primary, 5%);
    }
  }
}