.card-product {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  padding: 4px;

  &-image-wrapper {
    width: 100%;
    height: 290px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;

    .card-product-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.4s ease;
      transform-origin: center center;
      will-change: transform;
    }
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    cursor: pointer;

    .card-product-image {
      transform: scale(1.08);
    }
  }

  .card-product-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card-product-info-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .product-name {
      color: $title;
    }
  }
}