.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 280px));
    gap: 24px;
    justify-content: center;
  }

  .product-cta {
    a {
      margin: 0;
      text-decoration: none;
      color: $title;
    }
  }

  // Responsive
  @media (max-width: 1024px) {
    gap: 32px;

    .product-list {
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }

  @media (max-width: 768px) {
    gap: 24px;

    .product-list {
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
  }
}