.contact-form-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  .text-content-contact-form-section {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-form {

    max-width: 50%;
    width: 100%;
  }

  // Responsive
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 2rem;

    .text-content-contact-form-section,
    .contact-form {
      flex: unset;
      max-width: 100%;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    gap: 1.5rem;
  }
}