@mixin button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}