$primary: #33CB98;
$light-primary: #95E2CA;
$dark-primary: #2B9974;
$secondary: #202325;
$white: #ffffff;
$light-gray: #F7F8FB;
$dark-gray: #B6B9C1;

$title: $secondary;
$title-light: $white;
$text-light: $white;
$text-paragraph: #687188;