// Abstracts
@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/reset";
@import "./base/typography";

// Global Components 
@import "./components/buttons";
@import "./components/coming-soon";
@import "./components/searchbar";

// Layout
@import "./layout/container";
@import "./layout/layout";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/CTA";

// Pages
@import "./pages/home";
@import "./pages/shop";
@import "./pages/contact";
@import "./pages/legal-document";