.bg-section-home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-primary;

  .hero-section-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    min-height: 600px;

    .text-content-home {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex: 1;
    }

    .container-image-home {
      flex: 1;
      border-radius: 0.75rem;

      .image-home {
        width: 100%;
        min-height: 400px;
        border-radius: 0.5rem;
      }
    }
  }

  // Responsive
  @media (max-width: 1024px) {
    .hero-section-home {
      flex-direction: column;
      gap: 2rem;
      min-height: auto;

      .container-image-home,
      .text-content-home {
        flex: unset;
        width: 100%;
      }

      .container-image-home {
        .image-home {
          min-height: 300px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .hero-section-home {
      gap: 1.5rem;

      .container-image-home {
        .image-home {
          min-height: 250px;
        }
      }
    }
  }
}