h1,
h2,
h3,
h4,
span {
  margin: 0;
  color: $title;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3,
span {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p,
a {
  margin: 0;
  font-size: 1rem;
}

p {
  color: $text-paragraph;
}

span {
  font-weight: 700;
}